.easy-autocomplete{
	width: 100% !important;
	margin: 10px auto;
}

.easy-autocomplete input {
	width: 100%;
	border-color: cadetblue;
	background-color: #3DCCA3;
    color: white;
    font-weight: bold;
    border-radius:0px;
}


.easy-autocomplete input::-webkit-input-placeholder{
	color:white !important;
} 
.easy-autocomplete input::-moz-placeholder { 
	color:white !important;
}

.easy-autocomplete-container ul li, .easy-autocomplete-container ul .eac-category {
	border-color: cadetblue;
}

#middlePanel {
	border-right: 1px solid #E6E5E5;
    position: relative;
    width: calc(100% - 535px);
    display: inline-block;
    vertical-align: top;
    height: 100%;
    margin-top: 0px;
    min-width: 300px;
    padding-right: 5px;
}

.ui-widget-header {
	border: 1px solid #3DCCA3;
    background: #3DCCA3;
}

.calender{
	padding: 10px;
}

.datePickerBlock {
	margin: 5px;
	display: inline-block;
}
.datePickerBlock input {
	min-width:258px; 
}

.searchOptions{
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #3DCCA3;
    margin-bottom: 10px;
}

.searchOptionsInput{
	display: inline-block;
	font-weight: bold;
	width: 45%;
    padding-left: 15px;
	min-width: 258px;
}

.searchDates {
	background-color: #3DCCA3;
    margin-bottom: 10px;
}

button{
	width: 50px;
    min-width: 30px;
    height: 37px;
    border: 0px;
}

