body {
    margin: 0px auto;
    height: 100%;
    width: 100%;
    font-family: verdana;
	background-repeat: no-repeat;
	background-position: center;
}

.pageHeader{
	position: fixed;
	z-index: 1000;
	height: 50px;
	width: 100%;
	background-color: #007679;
	border-bottom: 2px solid cadetblue;
}

.signInLink{
	position: absolute;
	right: 20px;
	top: 15px;
	font-style: normal;
	color: white;
	text-decoration: none;
}

.bankLink{
	position: absolute;
	right: 85px;
	top: 15px;
	font-style: normal;
	color: white;
	text-decoration: none;
}