.errorField {
	border-color: red;
}

.successField{
	border-color:lawngreen;
}

.errMessage{
	color: red;
	display: none;
	font-size: small;
	margin-top: -10px;
}

.commonContainer, .userContainer{
	width: 100%;
	position: absolute;
	top: 50px;
	margin: 0px auto;

}
.loginContainer, .signupContainer{
	width: calc(50% - 40px);
	position: relative;
	display: inline-block;
	min-width: 300px;
	vertical-align: top;
	padding: 18px 18px 18px 18px;
}
.signupContainer{
	border-left: 2px solid;
	border-left-color: darkcyan;
}
.commonContainer h1{
	font: 400 25px/1.1 'Rancho', Georgia, serif;
}
input {
	border: 2px solid cadetblue;
	height: 40px;
	border-radius: 5px;
	font-size: 16px;
	text-align: center;
	min-width: 200px;
}

input[type="checkbox"]{
	min-width: 25px;
}

label input[type=checkbox]{
	position: relative;
	vertical-align: middle;
	bottom: 1px;
}

input[type='submit']{
	width: 100px;
	min-width: 100px;
	background-color: white;
	color: cadetblue;
	cursor: pointer;
}

input[type='submit']:HOVER{
	color: white;
	background-color: cadetblue;
}

.loginFormField{
	width:  calc(100% - 12px);
	display: block;
	margin: 10px;
}

#notifier{
	text-align: center;
    background: #6DE601;
    position: absolute;
    left: 50%;
    margin-left: -119px;
    padding: 10px;
    border-radius: 5px;
	display: none;
	color: white;
}

.userContainer{
	display:none;
	background: white;
	height: calc(100% - 52px);
	    /*background: url("../css/piggery_mainpic.jpg") no-repeat center center fixed;
	    background-size: cover;*/
}

#leftPanel ul{
	list-style: none;
    padding: 0px;
    margin: 0px;
}

#leftPanel ul li{
	padding: 5px 10px 5px 10px;
    border-bottom: 1px solid #E6E5E5;
    color: black;
	text-align: center;
    white-space: pre-wrap;
}

#leftPanel {
    width: 220px;
    border-right: 1px solid #E6E5E5;
    word-break: break-word;
    font-size: 11px;
    display: inline-block;
}

#leftPanel #userImage {
	height: 200px;
	width: 200px;
}

#rightPanel {
	    position: relative;
    background-color: red;
    display: inline-block;
    width: 22%;
    min-width: 290px;
    vertical-align: top;
    margin-top: 10px;
    min-height: 50%;
    background: url("../css/babe/Beach-Babe-Hair.jpg") no-repeat center center ;
	background-size: cover;

}
