@media screen and (max-width: 846px) {
	.commonContainer{
		width: calc(100% - 36px);
		padding: 18px 18px 18px 18px;
	}
    .loginContainer, .signupContainer{
			width: 100%;
			padding: 0px;
	}
	.signupContainer{
			border: 0px;
	}
}